[Unit]
Description=OpenVPN container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a openvpn
ExecStop=/usr/bin/docker stop -t 4 openvpn

[Install]
WantedBy=local.target
